
  
  #stars-group-1 {
    background: #000;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 1573px 1431px #fff, 97px 1363px #fff, 1557px 1300px #fff, 646px 873px #fff, 961px 85px #fff, 1072px 1745px #fff, 632px 788px #fff, 819px 640px #fff, 60px 1646px #fff, 1642px 346px #fff, 1449px 1298px #fff, 32px 1794px #fff, 1574px 434px #fff, 1731px 1326px #fff, 117px 211px #fff, 938px 1338px #fff, 942px 921px #fff, 721px 479px #fff, 18px 595px #fff, 1023px 573px #fff, 20px 376px #fff, 1212px 1071px #fff, 1232px 1181px #fff, 1066px 1652px #fff, 286px 1709px #fff, 1736px 1570px #fff, 369px 789px #fff, 670px 447px #fff, 244px 1367px #fff, 625px 1150px #fff, 1136px 643px #fff, 1264px 964px #fff, 274px 278px #fff, 1264px 76px #fff, 215px 720px #fff, 1583px 1374px #fff, 747px 624px #fff, 270px 1225px #fff, 861px 1388px #fff, 705px 1193px #fff, 1028px 520px #fff, 894px 1675px #fff, 972px 1249px #fff, 1288px 146px #fff, 1695px 1402px #fff, 160px 1293px #fff, 238px 124px #fff, 85px 271px #fff, 1141px 501px #fff, 198px 1724px #fff, 1086px 655px #fff, 358px 510px #fff, 860px 1582px #fff, 960px 123px #fff, 1038px 986px #fff, 1270px 594px #fff, 1220px 77px #fff, 488px 58px #fff, 8px 274px #fff, 1777px 1065px #fff, 458px 174px #fff, 1612px 133px #fff, 808px 1279px #fff, 378px 81px #fff, 925px 96px #fff, 523px 1710px #fff, 267px 845px #fff, 85px 81px #fff, 92px 546px #fff, 480px 341px #fff, 309px 748px #fff, 1654px 181px #fff, 1333px 1604px #fff, 1229px 1030px #fff, 276px 136px #fff, 486px 61px #fff, 509px 575px #fff, 1630px 805px #fff, 1676px 877px #fff, 596px 424px #fff, 58px 882px #fff, 210px 903px #fff, 1061px 66px #fff, 76px 697px #fff, 1550px 723px #fff, 1637px 1012px #fff, 1292px 1568px #fff, 1768px 770px #fff, 1233px 497px #fff, 467px 1544px #fff, 111px 1031px #fff, 497px 1055px #fff, 1720px 1297px #fff, 681px 1305px #fff, 1591px 467px #fff, 363px 1499px #fff, 175px 1007px #fff, 738px 393px #fff, 107px 360px #fff, 1619px 496px #fff, 608px 1237px #fff, 636px 585px #fff, 660px 565px #fff, 399px 950px #fff, 54px 1207px #fff, 1117px 737px #fff, 475px 735px #fff, 1332px 1145px #fff, 805px 129px #fff, 1020px 547px #fff, 1546px 606px #fff, 1133px 1516px #fff, 1654px 659px #fff, 771px 1191px #fff, 1662px 1754px #fff, 442px 665px #fff, 1053px 1165px #fff, 131px 184px #fff, 180px 887px #fff, 1050px 974px #fff, 862px 1395px #fff, 1414px 720px #fff, 902px 1456px #fff, 1248px 87px #fff, 672px 534px #fff, 825px 1188px #fff, 1207px 98px #fff, 860px 1503px #fff, 1066px 170px #fff, 1650px 37px #fff, 1507px 492px #fff, 529px 1390px #fff, 835px 873px #fff, 1287px 1311px #fff, 162px 894px #fff, 534px 185px #fff, 310px 381px #fff, 402px 1174px #fff, 338px 1596px #fff, 463px 430px #fff, 534px 103px #fff, 547px 1461px #fff, 712px 593px #fff, 878px 938px #fff, 161px 700px #fff, 1774px 370px #fff, 1205px 157px #fff, 502px 32px #fff, 130px 334px #fff, 912px 771px #fff, 1191px 1766px #fff, 893px 661px #fff, 679px 389px #fff, 678px 1434px #fff, 1481px 1425px #fff, 396px 1792px #fff, 23px 1406px #fff, 485px 1400px #fff, 1122px 943px #fff, 317px 1118px #fff, 333px 1127px #fff, 1702px 950px #fff, 1577px 699px #fff, 1019px 768px #fff, 201px 767px #fff, 1451px 54px #fff, 1236px 1698px #fff, 6px 533px #fff, 920px 1122px #fff, 1016px 1601px #fff, 77px 427px #fff, 1625px 1228px #fff, 1583px 779px #fff, 123px 396px #fff, 1462px 776px #fff, 1142px 224px #fff, 1410px 653px #fff, 1517px 169px #fff, 894px 746px #fff, 410px 852px #fff, 1712px 1497px #fff, 940px 1125px #fff, 7px 590px #fff, 1047px 1007px #fff, 1172px 20px #fff, 629px 859px #fff, 800px 405px #fff, 1703px 659px #fff, 748px 65px #fff, 128px 929px #fff, 1177px 1026px #fff, 447px 857px #fff, 1359px 193px #fff, 1295px 278px #fff, 1758px 261px #fff, 72px 1432px #fff, 1765px 1261px #fff, 1777px 1319px #fff, 509px 186px #fff, 1752px 1580px #fff;
    animation-name: glowing-stars;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0s;
  }
  /* Owl Carousel */
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: block !important;
}
.owl-theme .owl-nav.disabled+.owl-dots {
display: none;
}
.owl-theme .owl-nav [class*=owl-]:hover {
background: none !important;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  font-size: 4rem !important;
color: #a5a19f !important;
font-weight: 200 !important;
}
.card {
border: none;
background-color: transparent;
}
.owl-theme .owl-nav [class*=owl-] {
  margin-top: -35px !important; 
}
.card-body {
padding: 0px;
}
.card-title p {
margin-bottom: 0px !important;
}
.owl-prev {
position: absolute;
left: 0;
margin: 0;
height: 80px;
text-align: center;
line-height: 80px;
transform: translateY(-50%);
}
.owl-next {
position: absolute;
right: 0;
margin: 0;
height: 80px;
text-align: center;
line-height: 80px;
transform: translateY(-50%);
}
.owl-theme .owl-dots .owl-dot {
  display: none !important;
}

/*#clnt .owl-prev {
margin-top: -4rem !important;
margin-left: -1rem;
}

#clnt .owl-next {
  margin-top: -4rem !important;
margin-right: -1rem;
}*/
/* Owl Carousel */




/* Owl Carouse */
.hone:hover {
width: 900px;
}